<div class='wrapper'>
	<div class='left'>
		<h2 class='listing-title'>SPACESHIP SCHOOL DEPARTMENTS: </h2>

		<% @departments.each do |d| %>
		<div class='listing-name'><b><a href="/departments/<%= d.id %>"><%= d.name %></b></a></div>
		<div class='listing-text'><%= d.description %></div>
		<div class='horizontal-line'></div>
		<% end %>
	</div>
	<div class='right'>
		
	</div>

</div>