.comment-field {
	border: 2px solid teal;
	width: 60%;
	margin: 20px 0 0 70px;
	border-radius: 10px;
}

.field-comment {
	border: 2px solid teal;
	padding: 5px;
	width: 80%;
	border-radius: 10px;
	margin: 10px auto; 
	display: flex;
	flex-direction: column;
}

.field-comment div:nth-of-type(1){
	text-align: center;
}

.field-comment div:last-child {
	text-align: right;
}