.grading-table {
	// border: 5px solid orange;
	width: 95%;
	padding: 5px;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 1fr;
	
}


.grading-table-left {
	// grid-gap: 5px;
	display: grid;
	grid-template-columns: .2fr .05fr .2fr .1fr .05fr .5fr;
	border: 2px solid teal;
}

.grading-titles {
	display: flex;
  	justify-content: center;
  	align-items: center;
	padding: 5px;
	border: 1px solid teal;
	// text-align: center;
	margin: 5px;
}

.grading-titles a {
	text-decoration: none;
	color: black;
}
.grading-titles a:hover {
	color: salmon;
}





