
.burger {
    border: 1px solid white;
    /*position: relative;*/
    color: white;
    margin: 5px;
    background-color: black;
    padding: 20px;
    cursor: pointer;
}
.burger:hover {
    background-color: teal;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.main-nav div {
    margin: 15px;
}

.nav-links {
    text-decoration: none;
    color: red;
    display: block;
}



.active-home {
    display: block;
}

.cohort-course {
    border: 2px solid teal;
}





       
