* {
	margin: 0;
	padding: 0;
}

.left, .right {
	border-right: 1px solid;
}

.listing-title {
	// border: 2px solid green;
	padding: 5px;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	color: salmon;
}
.listing-title a {
	color: salmon;
	text-decoration: none;
}

.listing-name {
	padding: 10px 0;
	// border: 2px solid blue;
	text-align: center;

}
.listing-name a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.listing-text {
	padding: 10px 30px;
	margin-bottom: 10px;
	// border: 2px solid pink;	
}