.wrapper {
	display: grid;
	grid-template-columns: 1.2fr 0.8fr;
	width: 90%;
	margin: 20px auto;
	// border: 2px solid orange;
	font-size: 1em;
	font-family: Fontana;
}



.wrapper-home {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90%;
	margin: 20px auto;
	// border: 2px solid orange;
	font-size: 1em;
	font-family: Fontana;
}

